<p>
  <strong>Name:</strong>
  <%= @software_app.name %>
</p>

<p>
  <strong>Roles:</strong>
  <%= safe_join(@software_app.roles.map { |l| link_to(Role.find(l.id).name, role_path(l.id)) }, ', '.html_safe) %>
</p>

<hr>

<%= link_to 'Edit', edit_software_app_path(@software_app) %> |
<%= link_to 'Back', software_apps_path %>
