<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<hr>

<p>
  <%= safe_join(@role.nodes.map { |l| link_to(Node.find(l.id).name, node_path(l.id)) }, '<br>'.html_safe) %>
</p>

<hr>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
