<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<hr>

<p>
  <% Node.where(role_id: @role.id).ids.each do |node_id| %>
  <%= link_to Node.find(node_id).name, node_path(Node.find(node_id).id) %><br>
  <% end %>
</p>

<hr>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
