<nav class="navbar navbar-inverse" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">HostDB</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a href="/nodes">Nodes</a></li>
        <li><a href="/statuses">Statuses</a></li>
        <li><a href="/datacenters">Datacenters</a></li>
        <li><a href="/roles">Roles</a></li>
        <li><a href="/operating_systems">Operating Systems</a></li>
        <li><a href="/software_apps">Software Applications</a></li>
        <li><a href="/interfaces">Interfaces</a></li>
        <li><a href="/macs">MAC Addresses</a></li>
        <li><a href="/ip_addrs">IP Addresses</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
